
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Incentive</title>
    <link href="@Url.Content("~/Css/font-awesome-4.7.0/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/AdminLTE.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <style type="text/css">
        .marginTop {
            margin-top: 10px;
        }
    </style>
</head>
<body class="container">
    <div class="row  top-details">
        <div class="col-md-12 col-xs-12">
            <h4>Daily Bookings MBG</h4>
        </div>
    </div>
    <div class="row amount-re">
        <div class="col-xs-12" >
            <div>
            <h5>Validity : Mon - Fri(19 Sep - 23 Sep)</h5>
            <h2><i class="fa fa-rupee"></i>&nbsp;2402</h2>
            <h5>Paid on: 14 Sep</h5>
                </div>
        </div>
    </div>
    <div class="row incentive-table">
        <div class="col-md-12 col-xs-12">            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Bookings</td>
                        <td>Min Ola Score</td>
                        <td>MBG</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1+</td>
                        <td>8.55</td>
                        <td><i class="fa fa-rupee"></i>&nbsp;250/booking</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row conditions">
        <div class="col-md-12 col-xs-12">
            <div>
                <h5>CONDITIONS</h5>
                <ul>
                    <li>Every airport booking will be counted as 2..</li>
                    <li>Every rental booking will be counted as  multiple booking</li>
                </ul>
            </div>
        </div>
    </div>   
    
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Bookings</td>
                        <td>MBG</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>11</td>
                        <td><i class="fa fa-rupee"></i>&nbsp;3100 Total</td>
                    </tr>
                    <tr>
                        <td>17+</td>
                        <td><i class="fa fa-rupee"></i>&nbsp;5700 Total</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row conditions">
        <div class="col-md-12 col-xs-12">
            <div>
                <h5>CONDITIONS</h5>
                <ul>
                    <li>Minimum ola score should be 8.55</li>
                    <li>Every airport booking will be counted as 2..</li>
                    <li>Every rental booking will be counted as  multiple booking</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>

