
@{
    ViewBag.Title = "Ola Money";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="left-menu">
                    <ul>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=pickcmoney")"><i class="fa fa-chevron-circle-right"></i> What is Ola Money?</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=pickcbalance")"><i class="fa fa-chevron-circle-right"></i> How can I check my Ola Money balance?</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=minbalance")"><i class="fa fa-chevron-circle-right"></i> Do I need a minimum Ola Money balance to pay for a ride on Ola app?</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=rechargepickc")"><i class="fa fa-chevron-circle-right"></i> How can I recharge Ola Money?</a></li>

                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=pickctransaction")"><i class="fa fa-chevron-circle-right"></i> Where can I see my Ola Money transactions?</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=withdrawpickcbalance")"><i class="fa fa-chevron-circle-right"></i> Can I withdraw my Ola Money balance?</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=savecard")"><i class="fa fa-chevron-circle-right"></i> How can I save a debit or credit card?</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=redeempromocode")"><i class="fa fa-chevron-circle-right"></i> How can I redeem a promo code?</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=rechargefailed")"><i class="fa fa-chevron-circle-right"></i> Recharge failed but money debited from bank account.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

