
@{
    ViewBag.Title = "using Referral";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="left-menu">
                    <ul>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=referralprogram")"><i class="fa fa-chevron-circle-right"></i> What is Ola's referral program?</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=freeridecoupon")"><i class="fa fa-chevron-circle-right"></i> Where can I find my free-ride coupons?</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=invitefriend")"><i class="fa fa-chevron-circle-right"></i> How can I invite my friends to Ola?</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=freerideexpires")"><i class="fa fa-chevron-circle-right"></i> When do my free-ride coupons expire?</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=Troubleshootingreferral")"><i class="fa fa-chevron-circle-right"></i> Troubleshooting</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

