@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/font-awesome-4.7.0/css/font-awesome.min.css")" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" async>
    <link href="@Url.Content("~/Css/AdminLTE.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/_all-skins.min.css")" rel="stylesheet" />
    <style type="text/css">
        .marginTop {
            margin-top: 10px;
        }
    </style>
    <title>PickC Operator</title>
    @RenderSection("seccssOW", false)
</head>
<body>
    @RenderBody()
    <script src="@Url.Content("~/Scripts/jquery-2.2.3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    @RenderSection("secscriptsOW", false)
</body>
</html>
