@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}

<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                 <div class="left-menu">
                    <!--<ul>
                        <li class="active"><a class="has-ripple" href="@Url.Content("~/Help/menu?name=usingpickc")"><i class="fa fa-chevron-circle-right"></i> Using PickC</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=myaccount")"><i class="fa fa-chevron-circle-right"></i> My Account</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=referrel")"><i class="fa fa-chevron-circle-right"></i> Referrel</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=safety")"><i class="fa fa-chevron-circle-right"></i> Safety</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=olamoney")"><i class="fa fa-chevron-circle-right"></i> Ola Money</a></li>
                    </ul>-->
                </div> 
            </div>
            <div class="col-md-9">
                <div class="content">
                    <ol>
                        <li>
                            <h1>using pick-c app</h1>
                            <ol>
                                <li><h2>downloading the app</h2>
                           
                    
                    <p>
                        pick-c app is
                        available to download using app store provided in your mobile. the
                        pick-c app supports the following devices and versions of the
                        operating system:
                    </p>
                                
                    <ul>
                        <li>
                            
                                android - v5.0
                                and above
                           
                            </li>
                        <li>
                           
                               
                                    <u>
                                        apple
                                        ios -
                                    </u>
                               
                          
                        </li>
                    </ul>
                    <p >
                        you can also
                        download the pick-c app using the link below:
                    </p>
                    <p >
                       
                            <a href="">
                                http://Link to download Pick-C
                            </a>
                       
                    </p>
                    <p >
                        if you are unable to
                        download the app, write to us at:
                    </p>
                    <p >
                        <b> email id:</b>
                        <a href="mailto:support@pickcargo.in">support@pickcargo.in</a>
                    </p>
                   
                                </li>
                   
                       
                            <li>
                                <h2 >
                                    signing up with pick-c
                                </h2>
                     
                   
                    <p >
                        to start using the
                        pick-c app, you must sign up by providing your details such as name,
                        mobile number, email id, and so on. along with these details, you
                        must provide a unique password in order to log into the app.
                    </p>
                    <p >follow these steps:</p>
                                <ol>
                                    <li>
                                        <p>
                                            open pick-c app in your mobile.
                                        </p>




                                        <img src="../images/first-pick-c.jpg" name="picture 22" align=bottom width=235 height=408 border=0>
                                    </li>

                                    <li>
                                        <p>
                                            tap on <b> sign up  </b>button as shown in the above figure. register
                                            screen appears.
                                        </p>

                                        <img src="../images/signup.jpg" name="picture 25" align=bottom width=236 height=407 border=0>

                                    </li>
                                    <li>
                                        <p>
                                            in <b>full name</b>  field, enter your full name.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            in <b>  mobile number </b> field, enter a valid mobile number. the entered mobile
                                            number must be the number you have registered.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            in <b>email id</b>  field, enter your valid email id.
                                        </p>
                                    </li>
                                    <li>
                                        <p>

                                            in <b>enter password</b> field, enter a unique password. your
                                            password must contain minimum 8 characters with one upper case, one
                                            lower case, one numeric, and one special character.
                                        </p>

                                        <p>
                                            <b>
                                                for example
                                            </b>: transport@1.
                                        </p>
                                        <p>
                                            <b>note</b>:
                                            it is recommended that your password does not contain your first or
                                            last name, mobile number.
                                        </p>
                                    </li>

                                    <li>
                                        <p>
                                            in <b>  re-enter  password </b> field, re-enter the password.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            tap on <b> sign up </b>button as shown in the above figure.
                                        </p>

                                        <p>
                                            upon
                                            successful signup, an otp is generated and sent to your registered
                                            mobile number.
                                        </p>
                                        <img src="../images/Submit.jpg" name="picture 1" align=bottom width=236 height=407 border=0>
                                    </li>
                                    <li>
                                        <p>
                                            in <b>kindly enter otp</b> field, enter the otp you have received in
                                            your registered mobile number.
                                        </p>
                                    </li>
                                    <li>
                                        <p>tap on <b>submit</b> button.</p>
                                        <p>
                                            pick-c user account is created.
                                        </p>
                                    </li>
                                </ol>
                                </li>
                  
                        
                            <li><h2 >changing password</h2>
                       
                   
                    <p >
                        you may consider
                        changing your password if you have forgotten your password or if your
                        password has been compromised. you can change your password on
                        regular basses to maintain the security of your account.
                    </p>
                    <p >follow these steps:</p>
                    <ol>
                        <li>
                            <p>
                                open pick-c app and login with your user account.
                            </p>
                        </li>
                        <li>
                            <p>
                                on the
                                <img src="../images/menu.jpg" name="picture 85" align=bottom width=48 height=41 border=0>menu,
                                tap on profile<img src="../images/Profile.jpg" name="picture 88" align=bottom width=43 height=45 border=0>
                                icon, as shown in the screenshot below:
                            </p>
                        
                  
                   
                   <img src="../images/My-Profile.jpg" name="picture 4" align=bottom width=237 height=407 border=0><p>
                        update profile  screen appears as shown below:
                    </p>
                    <img src="../images/Update-Profile.jpg" name="picture 7" align=bottom width=234 height=403 border=0>

                   </li>
                   
                        <li>
                            <p >
                                in <b>password</b> field, tap on edit<img src="../images/Edit.jpg" name="picture 91" align=bottom width=45 height=45 border=0>
                                icon.
                            </p>
                  
                    <p >
                        change
                        your password screen appears as shown below:
                    </p>
                   
                   <img src="../images/Password.jpg" name="picture 10" align=bottom width=235 height=399 border=0>
                   </li> 
                        <li>
                            <p >
                                in <b> old password </b> field, enter your current password.
                            </p>
                            </li>
                        <li>
                            <p >
                                in <b>  new password </b> field, enter new password.
                            </p></li>
                        <li>
                            <p>
                                in <b>  re-enter  new password </b> field, re-enter new password.
                            </p>
                        </li>
                        <li>
                            <p>
                                tap on <b>continue</b> button.
                            </p>
                        </li>
                        <li>
                            <p>
                                tap on <b>  update profile    </b> button.
                            </p>
                        </li>
                    </ol>
                   
                    <p >
                        <b>note</b>: you  must always follow the standard password pattern to enforce the
                        password standards.
                    </p>
                    <p >
                        refer to the <a href="#password_standard">password section</a>.
                    </p>
                                </li>
                    
                  
                            <li>
                                <h2 >
                                    forgot password
                                </h2>
                       
                    <p >
                        if you have
                        forgotten your pick-c account password, you can re-set your password
                        by receiving an otp to your registered mobile number.
                    </p>
                    <p >follow these steps:</p>
                    <ol>
                        <li>
                            <p >
                                on the pick-c
                                app main screen, tap on <b>login</b> button.
                            </p>
                        <li>
                            <p >
                                tap <b>  forgot password? </b> link.
                            </p>
                   
                   
                    <img src="../images/Forgot-Password.jpg" name="picture 13" align=bottom width=240 height=410 border=0>
                    <p >
                        reset your password screen appears as shown below:
                    </p>
                    <img src="../images/Reset-password.jpg" name="picture 16" align=bottom width=238 height=414 border=0>
                   </li>
                        <li>
                            <p > in <b>  enter  registered mobile number </b>field, enter your registered mobile
                                number.
                            </p>
                            </li>
                        <li>
                            <p >
                                tap on <b>continue</b>button.
                            </p>
                            </li>
                    </ol>
                   
                   
                       
                            <li><h2 >updating the app</h2>
                       
                  
                    <p >
                        we make sure that
                        the pick-c app is updated from time to time, so that you receive the
                        best experiences from new and updated features that have been
                        implemented in the upgraded versions. whenever the updates are
                        available for pick-c, you will receive a notification when you open
                        the pick-c app on your mobile phone.
                    </p>
                    <p >
                        you can also update
                        pick-c app using the below links:
                    </p>
                    <p >
                       
                            <u>
                                tap
                                on here for android.
                            </u>
                       
                    </p>
                    <p >
                       
                            <u>
                                tap
                                on here for apple ios.
                            </u>
                       
                    </p>
                    <p >
                        prior to updating
                        the pick-c app, make sure that you are connected to internet with
                        strong wi-fi connection, and also make sure that you have enough
                        storage space in your mobile phone.
                    </p>
                                </li>
                   </ol>
                    
                        <li>
                            <h1 >booking a pick-c trip</h1>
                            <ol>
                                <li><h2 >enable location services</h2>
                           
                    <p >
                        prior to accessing
                        the pick-c mobile app, you must enable the gps location of your
                        mobile, which helps the app to automatically select the pickup
                        location.
                    </p>
                    <p >
                        you can turn on the
                        location by doing either of the following ways:
                    </p>
                    <ul>
                        <li>
                            <p >
                                up on logging
                                in to pick-c app without enabling the gps, it will notify you to
                                enable the location services.
                            </p>
                            </li>
                        <li>
                            <p >
                                in your mobile
                                phone go to <b>settings</b>, tap <b>location</b> and tap <b>
                                    location
                                    on
                                </b>button.
                            </p>
                            </li>
                    </ul>
                    <p >
                        once the location is
                        turned on you can start the booking process.
                    </p>
                                </li>
                   
                      
                            <li>
                                <h2 >
                                    book a truck using the pick-c
                                </h2>
                        
                    <p >
                        you can book a truck
                        using the book now option from the pick-c mobile app. prior to login
                        you must register with pick-c, refer 
                        <a href="#_signing_up_with">signing up with pick-c</a> to create a user account for pick-c.
                    </p>
                    <p >follow these steps:</p>
                    <ol>
                        <li>
                            <p>
                                login to the
                                pick-c mobile app.
                            </p>

                            <p>
                                book
                                pick-c screen appears as shown below:
                            </p>

                            <img src="../images/home-page.jpg" name="picture 19" align=bottom width=237 height=404 border=0>
                        </li>
                        <li>
                            <p >
                                in the <b>
                                    pickup
                                    location
                                </b> field, select pickup location.
                            </p>
                            </li>
                        <li>
                            <p>
                                in the <b>
                                    drop
                                    location
                                </b>field, select drop location as shown below:
                            </p>



                            <img src="../images/Loding-unloading.jpg" name="graphics1" align=bottom width=237 height=407 border=0>
                        </li>
                        <li>
                            <p>
                                tap on <b>loading/unloading</b>
                                icon as shown in above figure. and select any of the following:
                            </p>

                            <ul>
                                <li>
                                    <p>
                                        <b>loading</b>: select this
                                        option, if you want to load your cargo in the truck.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <b>unloading</b>: select this
                                        option, if you want to unload your cargo from the truck.
                                    </p>
                                </li>
                            </ul>
                            <p>
                                <b>note</b>: you
                                can also opt for trip without loading and unloading services.
                            </p>
                        </li>
                   
                        <li>
                            <p>
                                tap to select any of the
                                available trucks and select one of the following options:
                            </p>

                            <ul>
                                <li>
                                    <p>
                                        <b>open</b>: select open
                                        option, if you want to book a truck with open top.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <b>closed</b>: select closed
                                        option, if you want to book a truck with closed top.
                                    </p>
                                </li>
                            </ul>
                            <img src="../images/open-close.jpg" name="graphics2" align=bottom width=237 height=404 border=0>
                        </li> 
                        <li>
                            <p>
                                select one of
                                the following options:
                            </p>

                            <ul>
                                <li>
                                    <p>
                                        <b>book now</b>:
                                        select this option, if you want to book a truck in less than 30
                                        minutes.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <b>book later</b>:
                                        select this option, if you want to book a truck up to 3 days in
                                        advance. select date screen appears.
                                    </p>
                                </li>
                            </ul>


                            <img src="../images/Date.jpg" name="picture 28" align=bottom width=239 height=406 border=0>
                            <ol type=a>
                                <li>
                                    <p>
                                        from <b>select date</b> screen,
                                        select a date.
                                    </p>

                                    <p>
                                        <b>for example:</b>
                                        if the current date is 21<sup>st</sup> then you can book the truck up
                                        to 23<sup>rd</sup>
                                    </p>
                                    <p>
                                        select time
                                        screen appears.
                                    </p>
                                    <img src="../images/Time.jpg" name="picture 31" align=bottom width=241 height=407 border=0>
                                </li>
                                <li>
                                    <p>
                                        from <b>select time</b> screen,
                                        select an hour from the clock shown above.
                                    </p>
                                <li>
                                    <p>tap on minutes as shown above.</p>

                                    <p>
                                        select time
                                        screen appears as shown below:
                                    </p>
                                    <img src="../images/Seconds.jpg" name="picture 34" align=bottom width=238 height=410 border=0>
                                </li>

                                <li>
                                    <p>
                                        from select time screen, select
                                        a minutes from the clock as shown above.
                                    </p>
                                </li>
                                <li><p>tap on <b>am</b> or <b>pm</b>.</p></li>
                                <li>
                                    <p>tap on <b>ok </b>button.</p>

                                    <p>
                                        select cargo type and select cargo weight screen appears.
                                    </p>

                                    <img src="../images/Select-cargo.jpg" name="picture 37" align=bottom width=240 height=261 border=0>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p>
                                select any of
                                the following cargo type:
                            </p>

                            <ul>
                                <li><p>house shifting</p>  </li>
                                <li>
                                    <p>
                                        home
                                        appliances/electronics
                                    </p>
                                </li>
                                <li><p>poultry/agro</p>  </li>
                                <li><p>industrial</p>  </li>
                                <li><p>medical</p>  </li>
                                <li><p>liquid</p>  </li>
                                <li><p>fragile</p>  </li>
                                <li><p>construction</p>  </li>
                                <li><p>others</p>  </li>
                            </ul>
                        </li>
                   
                        <li>
                            <p>
                                in <b>
                                    enter
                                    your cargo
                                </b> field, enter the approximate weight of your cargo in
                                tons.
                            </p>
                        </li>
                        <li>
                            <p>
                                tap on <b>
                                    next
                                </b>as shown in the above figure.
                            </p>
                       
                    <p>
                        a
                        dialogue box appears.
                    </p>
                    <img src="../images/Delivery.jpg" name="picture 40" align=bottom width=243 height=164 border=0>
                            </li>
                   
                        <li>
                            <p >
                                tap on uncheck
                                box if you want to use other registered mobile number.
                            </p>
                            </li>
                        <li>
                            <p >
                                in <b>
                                    please
                                    enter mobile no
                                </b> field, enter mobile number of the person or
                                party who is responsible to receive the delivery of goods.
                            </p>
                            </li>
                        <li>
                            <p>
                                tap on <b>ok</b>
                                button.
                            </p>

                            <p>
                                confirm
                                booking screen appears.
                            </p>
                            <img src="../images/Rate-and-trip.jpg" name="picture 43" align=bottom width=238 height=405 border=0>
                            <p>
                                <b>note</b>: you
                                can check the rate card and trip estimation.
                            </p>
                            <ul>
                                <li>
                                    <p>
                                        tap on <a href="#_rate_card">
                                            rate
                                            card
                                        </a> to view the rates of the trucks available.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        tap on <a href="#_trip_estimate">
                                            trip
                                            estimation
                                        </a> if you want to know the approximate trip cost and
                                        approximate time estimate.
                                    </p>
                                </li>
                            </ul>
                        </li>
                    
                        <li>
                            <p >
                                tap on <b>
                                    confirm
                                    booking
                                </b>as shown<b> </b>in the below figure:
                            </p>
                  
                   <img src="../images/Confirm.jpg" name="picture 46" align=bottom width=235 height=402 border=0>
                    <p >
                        confirm
                        booking screen appears.
                    </p>
                  
                    <img src="../images/Truck-Booked-Successfully.jpg" name="picture 49" align=bottom width=236 height=407 border=0>
                    <p >
                        truck booked
                        successfully. waiting for driver confirmation message appears as
                        shown above.
                    </p>
                            </li>
                  
                        <li>
                            <p >
                                once the driver
                                accepts your booking.
                            </p>
                    
                    <p >
                        a
                        screen appears with the following options:
                    </p>
                    <ul>
                        <li>
                            <p >
                                <b>call driver</b>:
                                select this option, if you want to call the driver.
                            </p>
                            </li>
                        <li>
                            <p>
                                <b>support</b>:
                                select this option, if you want to have any support information.
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>cancel</b>:
                                select this option, if you want to cancel you booking.
                            </p>
                        </li>
                    </ul>
                   <img src="../images/Pickup-Arriving.jpg" name="picture 52" align=bottom width=238 height=409 border=0>
                   </li>
                        </ol>
                                </li>
                   
                       
                            <li><h2 >providing a pickup address</h2>
                       
                    <p >
                        to provide a pickup address for
                        pick-c, make sure that you have entered the correct pickup address
                        before booking the truck. ensure that your gps location is turned on,
                        so that the <font color="#000000">app</font> automatically sets the
                        pickup location. you can view your location in the map on your mobile
                        screen with a flag pointing on your location. you can set a pickup
                        location by either ways:
                    </p>
                    <ul>
                        <li>
                            <p >
                                place the flag
                                to you required location
                            </p></li>
                        <li>
                            <p>
                                you can
                                manually type the location in the pickup location field
                            </p>
                        </li>
                    </ul>
                  
                  <img src="../images/Pickupup-Location.jpg" name="picture 55" align=bottom width=238 height=408 border=0>
                   
                    <p >
                        after pickup
                        location is set, tap on the lock location<img src="../images/lock-location.jpg" name="picture 94" align=bottom width=92 height=38 border=0>
                        icon to lock the pickup location, so that if you accidently placed
                        the flag on some other location the pickup location will not change.
                        if you are unable to find your current location in the map, tap on my
                        location<img src="../images/My_location.jpg" name="picture 97" align=bottom width=35 height=35 border=0>button
                        on the map.
                    </p>
                   
                    <p >
                        <b>note:</b> once
                        the booking is confirmed, you cannot change your pickup location, so
                        make sure you have entered correct pickup address.
                    </p>
                   </li>
                   
                            <li><h2 >providing a drop address</h2>
                       
                    <p >
                        entering a drop
                        location helps the driver to navigate to your destination without any
                        trouble, once the drop location is locked, only then you can book a
                        truck. it is mandatory to enter your drop location before you book a
                        truck.
                    </p>
                    <p >
                        you can enter a drop
                        location by doing either of the following:
                    </p>
                    <ul>
                        <li>
                            <p>
                                selecting the
                                drop location by tapping on the drop location field, and manually
                                entering
                            </p>
                        </li>
                        <li>
                            <p>
                                moving the flag
                                to your drop location in the map which is provided on your screen
                            </p>
                        </li>
                    </ul>
                   <img src="../images/Drop-Location.jpg" name="picture 58" align=bottom width=238 height=406 border=0>
                    <p >
                        once you lock the
                        drop location you can’t move the flag to other location. to change
                        the drop location you must tap on the lock location<img src="../images/lock-location.jpg" name="picture 100" align=bottom width=95 height=39 border=0>icon
                        to unlock the drop location, which is available above the flag, and
                        move the flag to your desired location.
                    </p>
                   </li>
                   
                            <li><h2 >tracking your cargo truck</h2>
                       
                    <p >
                        tracking your truck
                        lets you to view the position of the truck you have booked, and the
                        time it will take to reach your pickup location. once your booking is
                        confirmed, you can track your cargo truck and you can view the truck
                        location live on the map, which is provided in the pick-c app in your
                        mobile phone.
                    </p>
                   </li>
                   
                            <li><h2 >paying for your trip</h2>
                        
                    <p >
                        after the pickup and
                        drop of your cargo is completed, you can check the total bill amount
                        of your trip in the invoice that you will receive on your pick-c
                        mobile app after the trip is successfully completed, you will also
                        receive an email of the total bill invoice on your registered email
                        id, and you will receive a sms message of total bill amount to be
                        paid on your registered mobile number.
                    </p>
                    <p >
                        to make the payment,
                        you can choose any one of the following payment options:
                    </p>
                    <ul>
                        <li>
                            <p>
                                <b>cash</b>:
                                select payment through cash, if you want to do the payment by cash
                                after the trip is completed.
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>credit card</b>:
                                select payment through credit card, if you want to pay for your trip
                                by credit card.
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>debit card</b>:
                                select payment through debit card, if you want to pay for your trip
                                by debit card.
                            </p>
                        </li>
                    </ul>
                    <p >
                        to know more about
                        the payment option, tap on <a href="#_payment_options">
                            payment
                            options
                        </a>.
                    </p>
                   
                    </li>
                            <li><h2 >rating a trip</h2>
                        
                    <p >
                        rating a trip is to
                        ensure you that all the pick-c truck drivers are convenient, safe,
                        comfortable, and also takes good care of your cargo deliveries in
                        time. rating a trip lets you rate a driver which you have booked,
                        depending upon the service provided by the driver. once the trip is
                        completed, you can rate a driver, the rating is visible on the pick-c
                        app screen in your mobile along with the driver’s details. pick-c
                        provides ratings from 1 to 5 stars, in order of least to highly
                        satisfied trip. you can also give the feedback by writing to us:
                    </p>
                    <p >email id:</p>
                    <p >
                        your rating and
                        feedback helps us to understand your experience with pick-c, and also
                        helps us to improve our service and quality.
                    </p>
                    <p >follow these steps:</p>
                   </li>
                        </ol>
                        </li>
                                
                 
                        <li>
                            <h1 >fares and charges</h1>
                            <ol>
                                <li>
                                    <h2>
                                        rate card
                                    </h2>


                                    <p>
                                        rate card helps you
                                        to check fares and charges of your cargo bookings which are available
                                        on pick-c. rate card will give you the detailed pricing of different
                                        trucks which are available, based on the weight (tonnage) of the
                                        cargo and type of the trucks.
                                    </p>
                                    <p>
                                        to view the rate
                                        card, follow these steps:
                                    </p>
                                    <ol>
                                        <li>
                                            <p>
                                                login to the
                                                app with user account.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                on the<img src="../images/menu.jpg" name="picture 103" align=bottom width=47 height=39 border=0>menu,
                                                tap on <b>rate card</b>.
                                            </p>
                                        </li>
                                    </ol>
                                    <img src="../images/Rate-Card.jpg" name="picture 61" align=bottom width=232 height=396 border=0>
                                    <p>
                                        rate card screen appears as shown
                                        below:
                                    </p>

                                    <img src="../images/fire1.jpg" name="graphics3" align=bottom width=672 height=242 border=0>
                                    <img src="../images/fire2.jpg" name="graphics4" align=bottom width=675 height=181 border=0>
                                    <img src="../images/fire3.jpg" name="graphics5" align=bottom width=672 height=270 border=0>
                                    <p>
                                        <b>note</b>: toll, parking, and
                                        other charges are not included in the rate card, such charges should
                                        be paid by the customer, once the driver provides hard copy of the
                                        bills to the customer.
                                    </p>
                                </li>
                   
                  
                            <li><h2 >knowing your fare</h2>
                       
                    <p >
                        knowing your fare is
                        to make you understand on detailed breakup as mentioned below:
                    </p>
                    <p >
                        the following are
                        the breakup fares of your trip with pick-c:
                    </p>
                    <ul>
                        <li>
                            <p >
                                <b>base fare</b>: the minimum
                                amount of money is charged for your booking, to a particular
                                distance or for first few kilometres.
                            </p>
                            </li>
                        <li>
                            <p>
                                <b>distance fare:</b> the fare
                                charged for every kilometre after the minimum distance is completed.

                            </p>
                        </li>
                        <li>
                            <p>
                                <b>trip time fares:</b> the
                                total amount charged on the time of the trip including the drivers
                                waiting time at the pickup location.
                            </p><p>
    <b>note:</b> the
    trip starts only when the driver starts the trip after the truck
    reaches the pickup location.
</p>
                       <li>
                            <p >
                                <b>night time fares: </b>night
                                time fares (1.5x charges) are applicable only at night time from
                                10pm to 6am.
                            </p><p>
    <b>note:</b>
    toll, parking fee, and any other charges which are not mentioned in
    the rate card, should be borne by the customer, once the driver
    produces relevant hard copy bills to the customer.
</p>
                           </li>
                    </ul>
                   
                   </li>
                   
                                <li>
                                    <h2>trip estimate</h2>

                                    <p>
                                        trip estimate will
                                        calculate the trip time, trip fares, trip distance, and lets you
                                        check the price of your trip, based on the weight of the cargo and
                                        the type of truck you have selected for the trip.
                                    </p>
                                    <p>follow below steps:</p>
                                    <ol>
                                        <li>
                                            <p>
                                                login to app
                                                with user account.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                select pickup
                                                and drop locations.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                select loading
                                                or unloading or both.
                                            </p>
                                        </li>
                                        <li><p>select a truck.</p></li>
                                        <li>
                                            <p>
                                                tap on <b>
                                                    book
                                                    now
                                                </b>button.
                                            </p>
                                      
                                    <p>
                                        confirm
                                        booking screen appears with the following options appears:
                                    </p>
                                    <ul>
                                        <li><p>rate card</p></li>
                                        <li><p>trip estimate</p></li>
                                    </ul>

                                    <img src="../images/Trip-Estimate01.jpg" name="picture 64" align=bottom width=234 height=400 border=0>
                                </li>
                        <li>
                            <p >
                                tap on <b>
                                    trip
                                    estimate
                                </b>.
                            </p>
                   
                    <p >
                        trip
                        estimate screen appears.
                    </p>
                   
                   <img src="../images/Trip-Estimate.jpg" name="picture 67" align=bottom width=238 height=228 border=0>
                    <p >
                        once you have
                        selected trip estimate, you can view the approximate travel time,
                        approximate distance, trip cost, cargo pick up and drop locations
                        provided on your screen.
                    </p>
                    <p >
                        <b>note</b>: this is
                        an approximate trip estimate, actual cost and travel time may differ.
                    </p>
                   </li>
                                        </ol>
                                    </li>
                   
                            <li><h2 >cancel booking</h2>
                       
                    <p >
                        cancel booking lets
                        you to cancel the truck you have booked until the truck reaches your
                        pickup location.
                    </p>
                    <p >
                        <b>note</b>: you
                        cannot cancel the booking once the cargo is loaded in to the truck.
                    </p>
                    <p >
                        cancelling the
                        booking is done by following these steps:
                    </p>
                    <ol>
                        <li>
                            <p>
                                <a href="#_book_a_truck">
                                    book
                                    a truck using the pick-c
                                </a>  app.
                            </p>

                            <p>
                                a
                                screen appears as shown below:
                            </p>

                            <img src="../images/Cancel.jpg" name="picture 76" align=bottom width=234 height=404 border=0>
                        </li>
                        

                        <li>
                            <p>
                                tap on <b>cancel</b> button.
                            </p>


                            <p>
                                <b>
                                    cancel
                                    booking?
                                </b> popup appears.
                            </p>

                            <img src="../images/Cancel-Booking.jpg" name="picture 79" align=bottom width=239 height=219 border=0>
                        </li>
                   
                        <li>
                            <p>
                                select any of the following
                                options:
                            </p>

                            <ul>
                                <li>
                                    <p>
                                        <b>
                                            driver is
                                            late
                                        </b>: select this option, if the driver is late.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <b>
                                            changed my
                                            mind
                                        </b>: select this option, if you have changed your mind.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <b>
                                            booked
                                            another truck
                                        </b>: select this option, if you have booked another
                                        truck.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <b>
                                            driver
                                            denied duty
                                        </b>: select this option, if the driver doesn’t want to
                                        accept your trip.
                                    </p>
                                </li>
                            </ul>
                        </li>
                  
                        <li>
                            <p>
                                tap on <b>
                                    cancel
                                    booking
                                </b>button.
                            </p>

                            <p>
                                booking
                                is cancelled.
                            </p>

                        </li>
                             </ol>
                                </li>
                           </ol>
                            </li>
                        <li>
                            <h1>
                                truck options
                            </h1>

                            <p>
                                pick-c provides you
                                with multiple truck option to choose from based on the cargo size and
                                weight. you can also opt for open or closed truck along with loading,
                                unloading options. make sure that you have calculated the approximate
                                weight of the cargo before selecting a truck option. once you have
                                calculated the weight you can select a truck by following below
                                steps:
                            </p>

                            <ol>
                                <li>
                                    <p>
                                        login to the
                                        pick-c app with user account.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        select pickup
                                        location.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        select drop
                                        location.
                                    </p>

                                    <img src="../images/Truck-Option.jpg" name="picture 82" align=bottom width=238 height=402 border=0>
                                </li>

                                <li>
                                    <p>
                                        in the bottom
                                        end of the main screen of pick-c, tap the following truck options:
                                    </p>

                                    <ul>
                                        <li>
                                            <p>
                                                <b>
                                                    less than
                                                    0.75 tons
                                                </b>: select less than 0.75 ton truck, if your cargo weight
                                                is less 0.75 tons.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <b>1 ton</b>:
                                                select 1 ton truck, if your cargo weight is between 0.75 tons and
                                                1ton.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <b>1.5 ton</b>:
                                                select 1.5 ton truck, if you cargo weight is between 1ton and 1.5
                                                tons.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <b>2 ton</b>:
                                                select 2 ton truck, if your cargo weight is between 1.5 tons and 2
                                                tons.
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                            </ol>
                    <p>
                        <b>note</b>:
                        make sure that the measure of the cargo is calculated in “tons”
                        and does not exceed 2 tons.
                    </p>
                   
                  
                            </li>
                        <li>
                            <h1 >
                               payment
                                options
                            </h1>
                            <ol>
                                <li><h2 >paying in cash</h2>
                            
                   
                    <p >
                        by choosing paying
                        in cash option, you can pay the total bill of your trip by cash
                        directly to the truck driver at the end of the trip. you are advised
                        to pay the money, only after you receive the total bill invoice on
                        your app screen. you are also advised to check the approximate rate
                        before taping  confirm booking, to check the approximate rate of your
                        trip, tap on <a href="#_trip_estimate">trip estimate</a>.
                    </p>
                                </li>
                   
                            <li><h2 >paying with credit/debit card</h2>
                        
                    <p >
                        by choosing paying
                        with credit/debit card option, you can pay the bill of your trip by
                        credit or debit card through the pick-c app, you must add credit or
                        debit card details into your pick-c account before making the
                        payment. once you have successfully added card details into your
                        account, you can make the payment.
                    </p>
                  </li>
</ol>
                            </li>
                   
                        <li>
                            <h1 >
                                safety
                            </h1>
                            <ol>
                                <li>
                                    <h2>safety standard</h2>


                                    <p>
                                        your cargo’s
                                        safety is extremely important to us. we have a strong safety measure
                                        which includes the following:
                                    </p>

                                    <ul>
                                        <li>
                                            <p>
                                                we perform background police
                                                verifications of the driver and his family, and make sure that we
                                                have all the driver’s details including the mobile number, aadhar
                                                card number, friend’s mobile number, and hometown address.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                we also check if the driver has
                                                under gone a proper training to drive all the trucks we provide.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                we make sure that we have good
                                                quality trucks by doing regular checkups and repairs to insure the
                                                safety of your goods.
                                            </p>
                                        </li>
                                        <!--   <li>
                   <p >
                       we take
                   </p> -->
                                    </ul>

                                    <p>need help?</p>
                                    <p>call us</p>

                                </li>
                                <li>
                                    <h2>
                                        safety concerns
                                    </h2>


                                    <p>
                                        we make sure that
                                        your goods safety is our top priority, we have strong safety features
                                        and police verification to make your cargo reaches the destination
                                        safely.
                                    </p>

                                    <ul>
                                        <li>
                                            <p>
                                                if you have any concern
                                                regarding you cargo’s safety you can call us.
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                in case of any missing cargo or
                                                any damage done to your cargo while transporting, you can call us or
                                                write to us.
                                            </p>
                                        </li>
                                    </ul>

                                    <p>need help?</p>
                                    <p>call us</p>
                                    <p>
                                        email id:
                                    </p>
                                </li>
                                </ol>
                            </li></ol>
                </div>
            </div>
        </div>
    </div>
</section>

