
@{
    ViewBag.Title = "Getting Started";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="left-menu">
                    <ul>
                        <li class="active"><a class="has-ripple" href="@Url.Content("~/Help/menu?name=bookingacab")"><i class="fa fa-chevron-circle-right"></i> Booking a Cab</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=bookingacabadvance")"><i class="fa fa-chevron-circle-right"></i> Booking a cab in advance</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=pickupaddres")"><i class="fa fa-chevron-circle-right"></i> Providing a pickup address</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=droplocation")"><i class="fa fa-chevron-circle-right"></i> Entering a drop location</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=applycoupon")"><i class="fa fa-chevron-circle-right"></i> Applying a coupon</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=trackacab")"><i class="fa fa-chevron-circle-right"></i> Tracking your cab</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=payforride")"><i class="fa fa-chevron-circle-right"></i> Paying for a ride</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=sharingcab")"><i class="fa fa-chevron-circle-right"></i> Sharing cab details</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=rating")"><i class="fa fa-chevron-circle-right"></i> Rating a ride</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=citylimits")"><i class="fa fa-chevron-circle-right"></i> City Limits</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

