@model IEnumerable<Master.Contract.Operator>
@using PickC.Internal2.HtmlHelpers
@{
    ViewBag.Title = "Operator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "grid");
}

<section class="content">
    
    @*<div class="row">
        <div class="col-xs-12">
            @{ Html.RenderPartial("DashboardMenuList"); }
        </div>
        </div>*@
    <div class="row">
        <div class="col-xs-12">

            <div class="tab-main-content">


                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Operators List</h3>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>&nbsp;&nbsp;
                                    <button type="button" class="btn btn-default" onclick="location.href = '@Url.Content("~/Operator/Add")'"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                @grid.Table(
                            tableStyle: "table table-hover",
                            columns: grid.Columns(
                                grid.Column("OperatorID", "Operator ID"),
                                grid.Column("OperatorName", "Operator Name"),
                                grid.Column("PhoneNo", "Phone No"),
                                grid.Column("VehicleNo", "#Action", format: @<text><a href="@Url.Content("~/Operator/Edit?OperatorID=" + item.OperatorID)">@item.OperatorName</a></text>)
                            ),
                            htmlAttributes: new { id = "grid" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pull-right">@grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-sm")</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
@section secscripts{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script type="text/javascript">
        //$(function () {
        //    $('#driverList').parent().addClass('active');
        //});
    </script>
}



