
@{
    ViewBag.Title = "Rides and Fares";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="left-menu">
                    <ul>
                        <li class="active"><a class="has-ripple" href="@Url.Content("~/Help/menu?name=rideoptions")"><i class="fa fa-chevron-circle-right"></i> Ride Options</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=ratecard")"><i class="fa fa-chevron-circle-right"></i> Rate Card</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=knowyourfare")"><i class="fa fa-chevron-circle-right"></i> Knowing your fare</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=rideest")"><i class="fa fa-chevron-circle-right"></i> Ride Estimate</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=peakpricing")"><i class="fa fa-chevron-circle-right"></i> Peak Pricing</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=cancellationfee")"><i class="fa fa-chevron-circle-right"></i> Cancellation Fee</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=cancellationreview")"><i class="fa fa-chevron-circle-right"></i> Cancellation Fee Review</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

