
@{
    ViewBag.Title = "Corporate profile";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="left-menu">
                    <ul>
                        <li class="active"><a class="has-ripple" href="@Url.Content("~/Help/menu?name=troubleregister")"><i class="fa fa-chevron-circle-right"></i> I am having trouble registering on the app</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=unableverifymobile")"><i class="fa fa-chevron-circle-right"></i> I am not able to verify my mobile number</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=unableloginac")"><i class="fa fa-chevron-circle-right"></i> I am not able to log in to my account</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=unablereceiveotp")"><i class="fa fa-chevron-circle-right"></i> I did not receive an OTP to reset my password</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=unablechangemobile")"><i class="fa fa-chevron-circle-right"></i> I am not able to change my mobile number.</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=unableemailspickc")"><i class="fa fa-chevron-circle-right"></i> I am not getting any emails from PickC.</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=unablesmspickc")"><i class="fa fa-chevron-circle-right"></i> I am not getting any SMS messages from PickC.</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=unableinvoice")"><i class="fa fa-chevron-circle-right"></i> I am getting invoices for rides I have not taken.</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=acblocked")"><i class="fa fa-chevron-circle-right"></i> My account is blocked. </a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=updateemail")"><i class="fa fa-chevron-circle-right"></i> I want to update my email ID</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>
