<!DOCTYPE html>
<html lang="en" ng-app="ui.bootstrap.demo">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>PR TECHNO SOLUTIONS Pvt Ltd.</title>


    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons
    ================================================== -->
    <link rel="icon" href="img/favicon/favicon-32x32.html" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/favicon-144x144.html">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/favicon-72x72.html">
    <link rel="apple-touch-icon-precomposed" href="img/favicon/favicon-54x54.html">

    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="@Url.Content("~/css/font-awesome-4.6.2/css/font-awesome.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")">
    <!-- <link href="@Url.Content("~/css/AdminLTE.min.css")" rel="stylesheet" />-->
    <link href="@Url.Content("~/css/bootstrap-datetimepicker.css")" rel="stylesheet" />
    <!-- Template styles-->
    <link rel="stylesheet" href="@Url.Content("~/css/style.css?v=1.")">
    <!-- Responsive styles-->
    <link rel="stylesheet" href="@Url.Content("~/css/responsive.css")">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="@Url.Content("~/css/font-awesome.min.css")">
    <!-- Animation -->
    <link rel="stylesheet" href="@Url.Content("~/css/animate.css")">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="@Url.Content("~/css/owl.carousel.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/owl.theme.css")">
    <!-- Colorbox -->
    <link rel="stylesheet" href="@Url.Content("~/css/colorbox.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/ripple.css")">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap-select.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/extra.css")">

    <style type="text/css">
                input[type=text].error, input[type=password].error, textarea.error, select.error {
                    border: 1px solid red;
                    background-color: #f5e6e6;
                }

                label.error {
                    display: none !important;
                }

                .navBackClr li a:hover {
                    background-color: #000;
                }

                .modal-body {
                    text-align: center;
                    background: rgb(255, 252, 0) none repeat scroll 0 0;
                }

                .modal {
                    overflow-y: hidden;
                }

                .modal-open {
                    margin-right: 0px !important;
                }

                .modal-body p {
                    color: #000;
                }

                .mobile-link {
                    position: absolute;
                    top: 110px;
                    overflow: hidden;
                    width: 100%;
                    z-index: 99;
                    text-align: center;
                }


                .slider {
                    /* complete liquid height based on the parent's height!! */
                    height: 100%;
                    /* only transition on transform properties which are hardware accelerated = way better performances */
                    -webkit-transition: -webkit-transform .3s ease;
                    -moz-transition: -moz-transform .3s ease;
                    -ms-transition: -ms-transform .3s ease;
                    transition: transform .3s ease;
                }

                    .slider.opened {
                        /* visible */
                        -webkit-transform: translate(0, 0%);
                        -moz-transform: translate(0, 0%);
                        -ms-transform: translate(0, 0%);
                        transform: translate(0, 0%);
                    }

                    .slider.closed {
                        /* completely offscreen */
                        -webkit-transform: translate(0, -100%);
                        -moz-transform: translate(0, -100%);
                        -ms-transform: translate(0, -100%);
                        transform: translate(0, -100%);
                    }



                /* -------- not interesting styles ----------- body {
            background:#eee;
            margin:50px;
        }*/

                .slider {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -ms-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 20px;
                    background: rgba(37,39,46,0.9);
                }
    </style>
    <!--Start of Tawk.to Script-->
    @*<script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/57e3bf0e6339c4365aa90e10/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>*@
    @RenderSection("css", false)
</head>

<body onload="initialize()">

    <div class="body-inner" ng-controller="ModalDemoCtrl as $ctrl" >

        <!-- Header start -->
        <header id="header" class="header-white">
            <div id="top-bar" class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 top-social">
                            <ul class="unstyled">
                                <li>
                                    <a title="Facebook" href="#">
                                        <span class="social-icon"><i class="fa fa-facebook"></i></span>
                                    </a>
                                    <a title="Twitter" href="#">
                                        <span class="social-icon"><i class="fa fa-twitter"></i></span>
                                    </a>
                                    <a title="Google+" href="#">
                                        <span class="social-icon"><i class="fa fa-google-plus"></i></span>
                                    </a>
                                    <a title="Linkdin" href="#">
                                        <span class="social-icon"><i class="fa fa-linkedin"></i></span>
                                    </a>
                                    <!--  <a title="instagram" href="#">
                                        <span class="social-icon"><i class="fa fa-instagram"></i></span>
                                    </a> -->
                                </li>
                            </ul>
                        </div><!--/ Top social end -->

                        <div class="col-md-6 col-sm-6 col-xs-12 top-menu " id="header-top">
                            <ul class="unstyled">
                                @*<a href="~/Help/Support">Click here</a>*@
                                @*@Html.ActionLink("Customer Support", "Support", "Help", null, null)*@

                                <li><a href="@Url.Content("~/Help/Support")"><i class="fa fa-headphones"></i> Customer Support</a></li>
                                @*<li><a href="@Url.Content("~/Account/Logoff")"><i class="fa fa-user"></i> LogOut</a></li>*@
                                @*<li><a href="@Url.Content("~/Help/Careers")"><i class="fa fa-hand-o-right"></i> Help</a></li>*@

                            </ul>
                        </div><!--/ Top menu end -->

                    </div><!--/ Content row end -->
                </div><!--/ Container end -->
            </div><!--/ Topbar end -->
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <div class="logo">
                            <a href="@Url.Content("~/Home/Index")">
                                <img src="@Url.Content("~/images/logo.png")" alt="">
                            </a>
                        </div><!-- logo end -->
                    </div>

                    <div class="site-nav-inner">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <nav class="collapse navbar-collapse navbar-responsive-collapse navbar-right">
                            <ul class="nav navbar-nav navBackClr">
                                @*<li class="mleft"><a href="#">Track Cargo with CRN</a></li>*@
                                <li class="mleft"><a href="@Url.Content("~/Help/FindCRN")">Track Cargo with CRN</a></li>
                                <li><a href="@Url.Content("~/Help/Services")">Services</a></li>
                                <li><a href="@Url.Content("~/Help/AboutUs")">About Us</a></li>
                                @*<li><a href="@Url.Content("~/RateCard/index")">Fare chart</a></li>*@
                                <li><a href="@Url.Content("~/Home/index")">Trip Estimate</a></li>
                                <li><a href="@Url.Content("~/Help/ContactUs")">Contact us </a></li>
                                <li class="getapp">
                                    <button data-toggle="modal" class="btn btn-primary solid blank has-ripple" data-target="#myModal">
                                        Get Pick-C App Link <i class="fa fa-download" aria-hidden="true"></i>
                                    </button>
                                </li>

                            </ul><!--/ Nav ul end -->

                        </nav><!--/ Collapse end -->

                    </div><!-- Site nav inner end -->
                </div><!-- Row end -->
            </div><!-- Container end -->
        </header><!--/ Header end -->
        <!-- ******CONTENT****** -->
        <div class="main-content">
            @RenderBody()
        </div>
        <section id="ts-features" class="features-area1">
            <div class="container">
                <div class="row text-center">
                    <h2 class="title">

                        <span class="title-head">Why Choose Us</span>
                        We are a Dedicated Team
                    </h2>
                </div><!--/ Title row end --><br>

                <div class="row service-bg-row">
                    <div class="service-bg-box one  col-md-3 col-sm-12">
                        <div class="">
                            <div class="ts-service-icon-wrapper">
                                <span class="ts-service-icon service-icon"><i class="fa fa-laptop"></i></span>
                            </div>
                        </div>
                        <div class="service-bg-box-content">
                            <h3>
                                24/7 Cargo Booking

                            </h3>
                            <p>Book your Cargo deliveries completely online anytime anywhere in your City</p>

                        </div><!-- Col 1 end -->
                    </div>
                    <div class="service-bg-box one  col-md-3 col-sm-12">
                        <div class="">
                            <div class="ts-service-icon-wrapper">
                                <span class="ts-service-icon service-icon"><i class="fa fa-map-marker"></i></span>
                            </div>
                        </div>
                        <div class="service-bg-box-content">
                            <h3>
                                Online Tracking
                            </h3>
                            <p>Track your cargo online from booking to delivery</p>

                        </div><!-- Col 1 end -->
                    </div>
                    <div class="service-bg-box one  col-md-3 col-sm-12">
                        <div class="">
                            <div class="ts-service-icon-wrapper">
                                <span class="ts-service-icon service-icon"><i class="fa fa-rupee"></i></span>
                            </div>
                        </div>
                        <div class="service-bg-box-content">
                            <h3>
                                Transparent Pricing
                            </h3>
                            <p>Online payment, Competitive pricing and Automated invoicing </p>

                        </div><!-- Col 1 end -->
                    </div>

                    <div class="service-bg-box one  col-md-3 col-sm-12">
                        <div class="">
                            <div class="ts-service-icon-wrapper">
                                <span class="ts-service-icon service-icon"><i class="fa fa-truck"></i></span>
                            </div>
                        </div>
                        <div class="service-bg-box-content">
                            <h3>
                                Time-Definite Delivery
                            </h3>
                            <p>Our team of professional Drivers deliver with care In time, every time</p>

                        </div><!-- Col 1 end -->
                    </div>

                </div><!--/ Content row end -->
            </div><!--/ Container end -->
        </section>

        @*<button id="toggle">slider toggle</button>*@


        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3 col-sm-12 footer-widget footer-about">
                            <div class="footer-logo">
                                <img src="@Url.Content("~/images/logo.png")" alt="" class="img-responsive">
                            </div>
                            <p>
                                <b>Pick-C</b> (Cargo) is mobile app unique of its kind for goods transportation, which integrates city goods transportation ...
                            </p>
                            @*<a class="mc" href="@Url.Content("~/Help/AboutUs")">Read More <i class="fa fa-angle-right"></i></a>*@
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <!-- <li><a href="#"><i class="fa fa-youtube"></i></a></li> -->
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 footer-widget">
                            <h3 class="widget-title">Quick Links</h3>
                            <ul class="list-arrow">
                                <li><a href="@Url.Content("~/Help/Services")">Services</a></li>
                                <li><a href="@Url.Content("~/Help/AboutUs")">About Us</a></li>
                                <li><a href="@Url.Content("~/Help/ContactUs")">Contact us</a></li>
                                <li><a href="@Url.Content("~/Help/FeedBack")">Feedback</a></li>
                                <li><a href="@Url.Content("~/Help/FAQS")">FAQs</a></li>
                                <li><a href="@Url.Content("~/Help/Terms")">Terms &amp; Conditions</a></li>
                                <li><a href="@Url.Content("~/Help/Careers")">Careers</a></li>
                                <li><a href="@Url.Content("~/Help/PrivacyPolicy")">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-12 footer-widget">
                            <h3 class="widget-title">DownLoad Our App</h3>
                            <div class="row">
                                <div class="col-md-10 ">
                                    <img class="img-responsive" style="margin-bottom:15px;" src="@Url.Content("~/images/app.png")" />

                                </div>
                                <div class="col-md-10 ">
                                    <img class="img-responsive" src="@Url.Content("~/images/goo.png")"><br>


                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 footer-widget">
                            <h3 class="widget-title">Payment Options</h3>

                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#" class="paytm"><img class="img-responsive paytm" width="100" src="@Url.Content("~/images/cc-logo.png")"></a> <br />
                                </div>
                                @*<div class="col-md-6">
                                        <a href="#"><img class="img-responsive" width="56" src="@Url.Content("~/images/qrcode.png")"></a>
                                    </div>*@
                            </div>

                            <p>
                                <ul class="list-arrow">
                                    <li>Convenience</li>
                                    <li>Keeping track of your expenditure</li>
                                    <li>Discipline spending</li>
                                    <li>Secured Payments or transactions</li>
                                </ul>

                            </p>
                            @*<a class="mc" href="about.html">Read More <i class="fa fa-angle-right"></i></a>*@
                        </div>
                    </div>
                    <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
                        <button class="btn btn-primary" title="Back to Top">
                            <i class="fa fa-angle-double-up"></i>
                        </button>
                    </div>
                </div>
            </div>
        </footer>

        <section class="copyright">
            <div class="container">
                <div class="row ">
                    <div class="col-xs-12 col-sm-5">
                        <div class="copyright-info">
                            <span>Copyright &copy;  2017 PR TECHNO SOLUTIONS Pvt Ltd.. All Rights Reserved.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-push-1">
                        <div class="footer-menu">
                            <ul class="nav unstyled">

                                <!--  <li class="webmaster"><a href="http://thecolourmoon.com">Designed by The Colour Moon</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Javascript Files
        ================================================== -->
        <!-- initialize jQuery Library -->
        
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA5wo0iM93Iyh8SbmY54tx2lEmxj-jFI0" async defer></script>
        <script src="@Url.Content("~/js/moment.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/js/jquery.js")"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
      
        <script src="~/js/app.js"></script>
        <script src="~/js/ui-bootstrap.js"></script>
        <script src="@Url.Content("~/js/jquery.validate.js")"></script>

        <!-- Bootstrap jQuery -->
        <script type="text/javascript" src="@Url.Content("~/js/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/js/bootstrap-datetimepicker.js")"></script>
        <!-- Owl Carousel -->
        <script type="text/javascript" src="@Url.Content("~/js/owl.carousel.min.js")"></script>
        <!-- Counter -->
        <script type="text/javascript" src="@Url.Content("~/js/jquery.counterup.min.js")"></script>
        <!-- Waypoints -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="@Url.Content("~/js/bootstrap-select.min.js")"></script>


        <script type="text/javascript" src="@Url.Content("~/js/waypoints.min.js")"></script>
        <!-- Color box -->
        <script type="text/javascript" src="@Url.Content("~/js/jquery.colorbox.js")"></script>
        <!-- Isotope -->
        <script type="text/javascript" src="@Url.Content("~/js/isotope.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/js/ini.isotope.js")"></script>
       
        <script type="text/javascript" src="@Url.Content("~/js/gmap3.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/js/owl.carousel.js")"></script>

        <script type="text/javascript" src="@Url.Content("~/js/custom.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/js/ripple.js")"></script>

       
        <script type="text/javascript">
           
           
            
            $(function () {
               
                if (sessionStorage.getItem("isUserLoggedIn") == "True")
                    $("#header-top ul").append('<li><a href="#" id="logout")"><i class="fa fa-user"></i> LogOut</a></li>');

                $('.ripple').materialripple();
                $('.left-menu li a,.btn').materialripple();
                $('[data-toggle="tooltip"]').tooltip();

                $('#logout').on("click", function () {
                    debugger
                    $.ajax({
                        url: '@Url.Content("~/Account/Logoff")',
                        method: 'GET',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data) {
                                sessionStorage.removeItem("isUserLoggedIn");
                                window.location= "@Url.Content("~/Account/Login")";
                            }
                        },
                        error: function (err) {
                            debugger;
                        }
                    });
                })
            });

            function CheckMob() {
                $("#txtmobNo").keyup(function (event) {
                    var mobileNumber = $('#txtmobNo').val();
                    var mobileNumberRegExp = /^[789]\d{9}$/;
                   if (mobileNumber.length == 10) {
                       event.preventDefault();

                        $('#btn-sendSms').css("background-color", "#fffc00");
                        if (mobileNumberRegExp.test(mobileNumber) == false) {
                            alert('Please enter valid phonenumber.');
                            $("#btn-sendSms").prop("disabled", true);
                            $('#txtmobNo').val('');
                            return false;
                        }
                        else
                            $("#btn-sendSms").prop("disabled", false);
                   }
                   else
                   {
                       $("#btn-sendSms").prop("disabled", true);
                   }
                })
            }
            //function onChangeMobileNo() {
            //    var mobileNumberRegExp = /^[789]\d{9}$/;
            //    var mobileNumber = $('#txtmobNo').val();

            //    if (mobileNumberRegExp.test(mobileNumber) == false) {
            //        alert('Please enter valid phonenumber.');
            //        $("#btn-sendSms").prop("disabled", true);
            //        $('#txtmobNo').val('');
            //        return false;
            //    }
            //    else
            //        $("#btn-sendSms").prop("disabled", false);
            //}

            function SendSMS() {
                if ($('#txtmobNo').val() != '') {
                    var mobNo = $('#txtmobNo').val();
                    $.ajax({
                        url: '@Url.Content("~/Default/SendSMS?MobNo=")' + mobNo + '&ts=' + $.now(),
                        method: 'GET',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data = true)
                                // alert("Message send to your Number");
                                $('#myModalnos').modal('show');
                            //$('#myModal').modal('show');
                            $('#txtmobNo').val('');
                        },
                        error: function (err) {
                            debugger;
                        }
                    });
                }
                else {
                    $('#myModalno').modal('show');
                    // alert("Please Enter Your MobileNo!");
                }
            }
            var toggle = document.getElementById('toggle');
            var slider = document.querySelector('.slider');

            // google maps
google.maps.visualRefresh = true;
    function initialize() {
        debugger;
        var mapOptions = {
            center: new google.maps.LatLng(14.35482, 10.58203),
            zoom: 4,
           draggable: false,
            maxZoom: 2,
            minZoom: 2,
            panControl: false,
            zoomControl: false,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            overviewMapControl: false,
            disableDoubleClickZoom: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            animation: google.maps.Animation.DROP,
           


        };
        var addrInd = '<b>  PR Techno Solutions Pvt. Ltd. </b> <br/>#3rd Floor, Plot No.12-A, Survey No.71/1,<br/> Jai Hind Gandhi Rd, VIP Hills, Madhapur,<br/> Hyderabad, 500081, India.<br/>Phone : +91. 40. 6 5454 222 <br/> Email : info@pickcargo.in<br/> Web : www.pickcargo.in';
        var addrTha = 'Buathong 2 Vill, Soi 20/4,<br/>Talingchan-Suphanburi Rd,<br/>Bangbuathong, Nonthaburi,<br/>Thailand– 11110<br/>Phone : +66. 2925 0940<br/>Email : nfo@pickcargo.in';
        var addrMal = '#27th Floor, Axiata Tower,9,<br/> Jalan Stesen Sentral 5,<br/> KL Sentral,50470,<br/> Kuala Lumpur,Malaysia.<br/> Phone : +60. 3 2776 6836,<br/> +60. 3 2776 6999 <br/>Email :   info@pickcargo.in';
        var addrSin = '#14, Robinson Road, # 08-01A,<br/>Far East Finance Building,<br/>Singapore 048545.<br/>Phone : +65. 696 6005<br/>+65. 6829 7070<br/>Email : info@pickcargo.in';
        var addrUSA = '#26, Overlook Road Ardsley,<br/> NY-10502, USA <br/>Phone : +1. 646. 696 6005 <br/> Email : info@pickcargo.in';
        var jobs = [
            ['India', 'Hyderabad', 17.45047, 78.38737, addrInd],
            ['Thailand', 'Nonthaburi', 18.89898, 100.39818, addrTha],
            ['Malaysia', 'Lumpur', 8.13387, 105.68479, addrMal],
            ['Singapore', 'Singapore', -1.58216, 103.85076, addrSin],
            ['USA', 'NY', 41.01977, -73.83515, addrUSA]

        ];

        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        var infoWindow = new google.maps.InfoWindow;

        for (var i = 0; i < jobs.length; i++) {
            var city = jobs[i][0];
            var state = jobs[i][1];
            var lat = jobs[i][2];
            var lng = jobs[i][3];
            var desc = jobs[i][4];
            var z = i;
            var myLatLng = new google.maps.LatLng(lat, lng);

            var content = '<div class="map-content" style="color:#333; font-weight:bold; ">' + desc + '</div>';

            var marker = new google.maps.Marker({
                map: map,
                title: city + state,
                position: myLatLng,
                zIndex: z,
                icon: "../images/red-dot.png"
            });

            google.maps.event.addListener(marker, 'mouseover', (function (marker, content) {
                return function () {
                    infoWindow.setContent(content);
                    infoWindow.open(map, marker);
                }
            })(marker, content));

            // add the double-click event listener
            google.maps.event.addListener(marker, 'dblclick', function (event) {
                map = marker.getMap();

                map.setCenter(overlay.getPosition()); // set map center to marker position
                smoothZoom(map, 12, map.getZoom()); // call smoothZoom, parameters map, final zoomLevel, and starting zoom level
            })


            // the smooth zoom function
            function smoothZoom(map, max, cnt) {
                if (cnt >= max) {
                    return;
                }
                else {
                    y = google.maps.event.addListener(map, 'zoom_changed', function (event) {
                        google.maps.event.removeListener(y);
                        self.smoothZoom(map, max, cnt + 1);
                    });
                    setTimeout(function () { map.setZoom(cnt) }, 80);
                }
            }
        }
    }
    
    google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    <script type="text/javascript">
        var baseUrl = '@Url.Content("~/")';
    </script>
        @RenderSection("scripts", false)



    </div><!-- Body inner end -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="top:200px;">

                <div class="modal-body" style="min-height:100px; background:rgba(246,246,246,0.5); ">
                    <form class="navbar-form  hidden-xs hidden-sm">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter 10 Digit Mobile No." id="txtmobNo" onkeyup="CheckMob()">
                            <span class="input-group-btn">
                                @*<button class="btn btn-default app_btn tooltips" data-toggle="tooltip" data-placement="bottom" title="get App link through sms" type="button">Get <B><b>Pick-C</b></B> App Link</button>*@
                                <button class="btn btn-default app_btn tooltips" style="background-color: rgba(255, 252, 0, 0.5);" onclick="SendSMS()" data-toggle="tooltip" data-placement="bottom" title="get App link through sms" type="button" disabled id="btn-sendSms">Get <b>Pick-C</b> App Link</button>
                            </span>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

    <div id="myModalnos" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <p> Message sent to your MobileNo!</p>
                </div>

            </div>

        </div>
    </div>
    <div id="myModalno" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <p>Please Enter Your MobileNo!</p>
                </div>

            </div>

        </div>
    </div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li ng-repeat="item in $ctrl.items">
                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ $ctrl.selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="stackedModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
        </div>
        <div class="modal-body" id="modal-body-{{name}}">
            Having multiple modals open at once is probably bad UX but it's technically possible.
        </div>
    </script>
</body>

</html>