@model List<Master.Contract.RateCard>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pick Cargo</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="@Url.Content("~/Css/font-awesome-4.6.2/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/AdminLTE.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/ratecard.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/dynamic.css")" rel="stylesheet" />
    <style type="text/css">
        .firstrow li {
            height: 65px;
        }

        .first {
            font-weight: bold !important;
        }
    </style>
</head>
<body>

    <div class="hostingplans">
        <div class="container">
            <ul class="firstrow">
                <li class="first"></li>
                <li class="second"><h2><b>@Model[0].VehicleCategoryDescription</b></h2></li>
                <li class="third"><h2><b>@Model[1].VehicleCategoryDescription </b></h2></li>
                <li class="fourth"><h2><b>@Model[2].VehicleCategoryDescription  </b></h2></li>
                <li class="fifth"><h2><b>@Model[3].VehicleCategoryDescription </b></h2></li>
                <li class="sixth"><h2><b>@Model[4].VehicleCategoryDescription</b></h2></li>
            </ul>
            <ul class="secondrow">
                <li class="first">Base KM</li>
                <li class="second">@Model[0].BaseKM</li>
                <li class="third">@Model[1].BaseKM</li>
                <li class="fourth">@Model[2].BaseKM</li>
                <li class="fifth">@Model[3].BaseKM</li>
                <li class="sixth">@Model[4].BaseKM</li>
            </ul>
            <ul class="secondrow">
                <li class="first">Base Fare</li>
                <li class="second"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[0].BaseFare</li>
                <li class="third"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[1].BaseFare</li>
                <li class="fourth"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[2].BaseFare</li>
                <li class="fifth"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[3].BaseFare</li>
                <li class="sixth"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[4].BaseFare</li>
            </ul>
            <ul class="secondrow">
                <li class="first">Distance Fare</li>
                <li class="second"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[0].DistanceFare</li>
                <li class="third"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[1].DistanceFare</li>
                <li class="fourth"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[2].DistanceFare</li>
                <li class="fifth"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[3].DistanceFare</li>
                <li class="sixth"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[4].DistanceFare</li>
            </ul>
            <ul class="secondrow">
                <li class="first">Ride Time Fare</li>
                <li class="second"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[0].RideTimeFare</li>
                <li class="third"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[1].RideTimeFare</li>
                <li class="fourth"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[2].RideTimeFare</li>
                <li class="fifth"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[3].RideTimeFare</li>
                <li class="sixth"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[4].RideTimeFare</li>
            </ul>
            <ul class="secondrow">
                <li class="first">Waiting Fare</li>
                <li class="second"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[0].WaitingFare</li>
                <li class="third"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[1].WaitingFare</li>
                <li class="fourth"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[2].WaitingFare</li>
                <li class="fifth"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[3].WaitingFare</li>
                <li class="sixth"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[4].WaitingFare</li>
            </ul>
            <ul class="secondrow">
                <li class="first">Cancellation Fee</li>
                <li class="second"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[0].CancellationFee</li>
                <li class="third"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[1].CancellationFee</li>
                <li class="fourth"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[2].CancellationFee</li>
                <li class="fifth"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[3].CancellationFee</li>
                <li class="sixth"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;@Model[4].CancellationFee</li>
            </ul>
        </div>
    </div>

</body>
</html>
